.Input {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    outline: none;
    border: none;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 3px solid #fff;
}

.Input.HasError {
    color: rgb(233, 54, 54);
    border-color: rgb(233, 54, 54);
}

.Error {
    width: 100%;
    text-align: center;
    color: red;
}